In [9]:
import pandas as pd
from pandas import DataFrame
import zipfile

train = DataFrame()

with zipfile.ZipFile('train.zip') as existing_zip:
    existing_zip.extractall('./')
    for train_file in existing_zip.namelist():
        tmp = pd.read_csv(train_file, sep='\t')
        train = pd.concat([train, tmp], axis=0)

print(train.shape)

(9729410, 5)

In [10]:
train

           user_id  product_id  event_type  ad               time_stamp
0        0000000_A  00009250_a           1  -1  2017-04-08 12:09:04.629
1        0000000_A  00009250_a           1  -1  2017-04-27 12:55:57.783
2        0000000_A  00014068_a           1  -1  2017-04-08 11:57:53.746
3        0000000_A  00001254_a           1  -1  2017-04-08 12:04:26.008
4        0000000_A  00003316_a           1  -1  2017-04-08 12:05:31.326
...            ...         ...         ...  ..                      ...
3572837  0106037_D  00164700_d           0  -1  2017-04-25 00:30:27.653
3572838  0106037_D  00167591_d           0  -1  2017-04-25 01:00:55.245
3572839  0106037_D  00043163_d           0  -1  2017-04-25 00:29:19.453
3572840  0106037_D  00151689_d           0  -1  2017-04-25 00:28:37.643
3572841  0106037_D  00547731_d           0  -1  2017-04-25 01:02:43.434

[9729410 rows x 5 columns]

In [11]:
train['user_ids'] = train['user_id'].apply(lambda x: x.split('_')[0])
train['user_type'] = train['user_id'].apply(lambda x: x.split('_')[1])
train['product_ids'] = train['product_id'].apply(lambda x: x.split('_')[0])
train['product_type'] = train['product_id'].apply(lambda x: x.split('_')[1])

In [12]:
train

,user_id,product_id,event_type,ad,time_stamp,user_ids,user_type,product_ids,product_type
0,0000000_A,00009250_a,1,-1,2017-04-08 12:09:04.629,0000000,A,00009250,a
1,0000000_A,00009250_a,1,-1,2017-04-27 12:55:57.783,0000000,A,00009250,a
2,0000000_A,00014068_a,1,-1,2017-04-08 11:57:53.746,0000000,A,00014068,a
3,0000000_A,00001254_a,1,-1,2017-04-08 12:04:26.008,0000000,A,00001254,a
4,0000000_A,00003316_a,1,-1,2017-04-08 12:05:31.326,0000000,A,00003316,a
...,...,...,...,...,...,...,...,...,...
3572837,0106037_D,00164700_d,0,-1,2017-04-25 00:30:27.653,0106037,D,00164700,d
3572838,0106037_D,00167591_d,0,-1,2017-04-25 01:00:55.245,0106037,D,00167591,d
3572839,0106037_D,00043163_d,0,-1,2017-04-25 00:29:19.453,0106037,D,00043163,d
3572840,0106037_D,00151689_d,0,-1,2017-04-25 00:28:37.643,0106037,D,00151689,d
3572841,0106037_D,00547731_d,0,-1,2017-04-25 01:02:43.434,0106037,D,00547731,d

In [14]:
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline